[*]
end_of_line = lf
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 2
csharp_new_line_before_open_brace = none

# Snapshots
[*.{received,verified}.{json,txt,xml}]
charset = utf-8-bom
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false