name: Check Format, Build and Test
on:
  pull_request:
  push:
    branches: main

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v26
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Format Check
        run: nix develop --command bash -c "task format -- --verify-no-changes"
      - name: Build Check
        run: nix develop --command bash -c "task build"
      - name: Test
        run: nix develop --command bash -c "task test"